<?xml version="1.0" encoding="utf-8"?>

<Server port="{{ atl_tomcat_mgmt_port | default('8005') }}"
        shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <Listener className="org.apache.catalina.core.AprLifecycleListener"
            SSLEngine="on"/>
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <Service name="Catalina">

    <Connector port="{{ atl_tomcat_port | default('8080') }}"
               maxThreads="{{ atl_tomcat_maxthreads | default('100') }}"
               minSpareThreads="{{ atl_tomcat_minsparethreads | default('10') }}"
               connectionTimeout="{{ atl_tomcat_connectiontimeout | default('20000') }}"
               enableLookups="{{ atl_tomcat_enablelookups | default('false') }}"
               protocol="{{ atl_tomcat_protocol | default('HTTP/1.1') }}"
               redirectPort="{{ atl_tls_tomcat_port|  default(atl_tomcat_redirectport) | default('8443') }}"
               acceptCount="{{ atl_tomcat_acceptcount | default('10') }}"
               secure="{{ atl_tomcat_secure | default(catalina_connector_secure) | default('false') }}"
               scheme="{{ atl_tomcat_scheme | default(catalina_connector_scheme) | default('http') }}"
               proxyName="{{ atl_proxy_name | default(catalina_connector_proxyname) | default('') }}"
               proxyPort="{{ atl_proxy_port | default(catalina_connector_proxyport) | default('') }}"

               relaxedPathChars="[]|"
               relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
               bindOnInit="false"
               maxHttpHeaderSize="8192"
               useBodyEncodingForURI="true"
               disableUploadTimeout="true" />


    {% if atl_sslenabled == 'true'  or atl_sslenabled == 'True' or atl_sslenabled == True  %}

     <Connector port="{{ atl_tls_tomcat_port | default('8443') }}"
                 maxHttpHeaderSize="8192"
                 maxThreads="{{ atl_tomcat_maxthreads | default('150') }}"
                 minSpareThreads="{{ atl_tomcat_minsparethreads | default('25') }}"
                 maxSpareThreads="{{ atl_tomcat_maxsparethreads | default('75') }}"
                 connectionTimeout="{{ atl_tomcat_connectiontimeout | default('20000') }}"
                 enableLookups="false"
                 disableUploadTimeout="true"
                 relaxedPathChars="[]|"
                 relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
                 acceptCount="100"
                 scheme="https"
                 secure="true"
                 protocol="HTTP/1.1"
                 useBodyEncodingForURI="true"
                 proxyName="{{ atl_proxy_name | default(catalina_connector_proxyname) | default('') }}"
                 proxyPort="{{ atl_proxy_port | default(catalina_connector_proxyport) | default('') }}"
                 clientAuth="false" sslProtocol="TLS"
                 sslEnabledProtocols="TLSv1.2,TLSv1.3"

                 bindOnInit="false"
                 SSLEnabled="{{ atl_sslenabled | default('false') }}"
                 SSLCertificateFile="{{ atl_certificate_location | default('/opt/atlassian/etc/certificate.crt') }}"
                 SSLCertificateKeyFile="{{ atl_certificate_key_location | default('/opt/atlassian/etc/certificate.key') }}"
                  {% if atl_certificate_password is defined  %}
                      keystorePass="{{ atl_certificate_password | default('changeit') }}"
                      keystoreFile="{{ atl_certificate_location | default('/opt/atlassian/confluence/keystore') }}"
                  {% endif %}
                   />

    {% endif %}


    <Engine name="Catalina"
            defaultHost="localhost">

      <Host name="localhost"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="true">

        <Context path="{{ atl_tomcat_contextpath | default(catalina_context_path) | default('') }}"
                 docBase="${catalina.home}/atlassian-jira"
                 reloadable="false"
                 useHttpOnly="true">
          <Resource name="UserTransaction"
                    auth="Container"
                    type="javax.transaction.UserTransaction"
                    factory="org.objectweb.jotm.UserTransactionFactory"
                    jotm.timeout="60"/>
          <Manager pathname=""/>
          <JarScanner scanManifest="false"/>
          <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
                 threshold="120" />
        </Context>

      </Host>
      <Valve className="org.apache.catalina.valves.AccessLogValve"
             pattern="%a %{jira.request.id}r %{jira.request.username}r %t &quot;%m %U%q %H&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; &quot;%{jira.request.assession.id}r&quot;"/>
    </Engine>

  </Service>
</Server>
